<p-panel [showHeader]="false" class="py-3">
    <h1>Pipes basicos Numeros</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Number Module
    </p>
</p-panel>


<div class="grid align-items-center justify-content-start mt-3">
    <div class="col-12 md:col-6 lg:col-4">
        <p-card header="Ventas Netas" subheader="del presente año">
            {{(totalSells+1234) | number:'1.2-2'}}
        </p-card>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <p-card header="Ventas Brutas" subheader="del presente año">
            {{totalSells | currency:'EUR':'symbol':'1.4-4'}}
        </p-card>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <p-card header="Porcentaje" subheader="del presente año">
            {{percentage | percent:'1.2-2'}}
        </p-card>
    </div>
</div>